{
  "presets": [
    ["@babel/preset-env", { "targets": { "node": 13 } }],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "constants": "./src/constants",
          "reducer": "./src/reducer",
          "utils": "./src/utils"
        }
      }
    ]
  ]
}
