button {
  all: unset;
  color: black;
  background: white;
  padding: 0.5rem 1rem;
  font-size: 1.125rem;
  transition: 0.125s ease-in-out all;
  &:hover {
    background: darken(white, 10);
    color: black;
  }
}
