a {
  font-size: 1.5rem;
  text-decoration: none;
  padding: 0.5rem 1rem;
  background: white;
  color: black;
  border-radius: 0.25rem;
  transition: 0.125s ease-in-out all;
  &:hover {
    background: darken(white, 10);
  }

  &.cta {
    background: gold;
    &:hover {
      background: darken(gold, 10);
    }
  }
}
